@(user: User, errorMsg : String)

@main(user) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Inscription</h2>
        </div>
        <div class="panel-body">
            <div id="cy"></div>
            <h1 id="preview">Veuillez choisir un cours sur le graphe</h1>
            <ul id="horairesdispo"></ul>
            <div class="HoraireTable" >
                <table >
                    <tr><td>Lundi</td><td>Mardi</td><td>Mercredi</td><td>Jeudi</td><td>Vendredi</td></tr>
                    <tr><td id="Lundi"></td><td id="Mardi"></td><td id="Mercredi"></td><td id="Jeudi"></td><td id="Vendredi"></td></tr>
                </table>
            </div>
            <br>
            <label>Entrez votre mot de passe pour vous inscire au cours</label>
            <form action="@routes.Inscription.inscriptionCours()" method="post" class="form-inline">
                <div class="form-group">
                    <input type="hidden" name="coursselectionne" id="coursfield"/>
                    <input class="form-control"  type="password" name="password"/>
                    <button class="btn btn-default">Confirmer le choix</button>
                </div>
            </form>
            <br>
            @errorMsg match {

                case "success" => {
                    <div class="alert alert-success" role="alert">Inscription réussie.</div>
                }

                case "" => {
                }

                case "error" => {
                    <div class="alert alert-danger" role="alert">Ce mot de passe n'est pas valide. L'inscription ne peut pas être completée.</div>
                }

            }
        </div>
    </div>



}